<div class="jumbotron" id="front-panel">
		<h1><%= title %></h1>
		<p>inciPro es un portal de gestión de incidencias.</p>
		<h6>¡El portal donde podrá documentar cada reclamación!</h6><p>
		<p><a class="btn btn-primary btn-lg" href="http://wikipedia.org/wiki/Quiz" role="button">Learn more</a></p>
</div>
