
	<div class="jumbotron" id="front-panel">
			<h1><%= title %></h1>
			<p>Portal de gestión de lecturas y consumos.</p>
			<h6>Registro de lecturas y resumen de consumos en función de tolerancias.</h6><p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

	</div>
