
	#main {
/*		background: url(/images/fondo01.jpg) no-repeat fixed center; */
	}


	.centrado-v-h {
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
		justify-content: center;				/* alineacion horizontal */
	}

	.centrado-v {
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
	}



	#front-panel, #quizes-panel, #temas-panel, #showbytema-panel, #stats-panel, #db-panel {
/*		background-color: 	rgba(238, 238, 238, 0.6); 
		box-shadow: 		10px 10px 5px #D7D7D7; */
	}

	.comment-row {
		width: 				100%;
		margin-top: 		15px;
		margin-bottom: 		10px;
		background-color: 	rgba(238, 238, 238, 0.4);
		box-shadow: 		5px 5px 5px #D7D7D7;
	}

	.comment-panel {

		margin-bottom: 20px;
		padding-bottom: 10px;
		background-color: 	rgba(238, 238, 238, 0.8);
		border: 		1px solid #D8D8D8;
	}


	#login {




	}

	#login-panel {


		max-width: 600px;

		margin-top: 10vh;
		margin-right: auto;
		margin-left: auto;


		padding-top: 10vh;
		padding-bottom: 10vh;

		border: 		1px solid #D8D8D8

/*		margin-top: 20vh; */


	}



	/***************************************************************************************************/

	#menu-inicio {


	}


	/*******************************************************************************************/



	a:active, a:focus, a:hover {
		text-decoration: none;
		color: #eb9837;
		outline: 0;
	}

	.nav #menu-inicio-item ul li a:active, a:focus, a:hover {

		text-decoration: none;
		color: #eb9837;
		outline: 0;

	}



	#agregar-comentario {

		margin-top: 10px;
		position: relative;


	}


	#comentario {



	}

	.faq {


	}

	.faq a:hover {
		color: #eb9837;

	}

	.faq a:active, .faq a:focus {
		color: #eb9837;
		text-decoration: none;
		outline: none;
	}

	#resumen_index {

		max-width: 500px;
		margin-top: 10vh;

		border: 1px solid #ccc;

	}

	.form-group {

		margin-bottom: 10px;

	}
