
	#main {
/*		background: url(/images/fondo01.jpg) no-repeat fixed center; */
	}


	.centrado-v-h {
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
		justify-content: center;				/* alineacion horizontal */
	}

	.centrado-v {
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
	}



	#front-panel, #quizes-panel, #temas-panel, #showbytema-panel, #stats-panel, #db-panel {
		background-color: 	rgba(238, 238, 238, 0.6);
		box-shadow: 		10px 10px 5px #D7D7D7;
	}

	.comment-row {
		width: 				100%;
		margin-top: 		15px;
		margin-bottom: 		10px;
		background-color: 	rgba(238, 238, 238, 0.4);
		box-shadow: 		5px 5px 5px #D7D7D7;
	}

	.comment-panel {

		margin-bottom: 20px;
		padding-bottom: 10px;
		background-color: 	rgba(238, 238, 238, 0.8);
		border: 		1px solid #D8D8D8;
	}

	#login, #new-edit {
		max-width: 			960px;
	}




	a:hover {
		text-decoration: none;
	}



	#agregar-comentario {

		margin-top: 10px;
		position: relative;


	}


	#comentario {



	}

	.faq {


	}

	.faq a:hover {
		color: #eb9837;

	}

	.faq a:active, .faq a:focus {
		color: #eb9837;
		text-decoration: none;
		outline: none;
	}

	#resumen_index_form {

		max-width: 500px;
		border: 1px solid #000;

	}
