
	#main {
/*		background: url(/images/fondo01.jpg) no-repeat fixed center; */
	}

	a:hover {
		cursor: pointer;
	}

	.centrado-v-h {

		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
		vertical-align: middle;
		justify-content: center;				/* alineacion horizontal */
	}

	.centrado-v {
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
	}



	.titulo-secciones {
		padding: 8px 5px 8px 5px;
/*		padding-top: 5px;        activar si fuente Kalinga    */

/*		color: #eb9837;
		background-color: #000; */



	}


	#ver-mas-modal, #lopd-modal {

		text-align: justify;
	}




	.ocultar {																/* a esta esta clase le cambio css desde autoscroll.js */
    	opacity: 0;
	}



/*	#front-panel, #quizes-panel, #temas-panel, #showbytema-panel, #stats-panel, #db-panel {
		background-color: 	rgba(238, 238, 238, 0.6);
		box-shadow: 		10px 10px 5px #D7D7D7;
	}

	.comment-row {
		width: 				100%;
		margin-top: 		15px;
		margin-bottom: 		10px;
		background-color: 	rgba(238, 238, 238, 0.4);
		box-shadow: 		5px 5px 5px #D7D7D7;
	} */






	/* PARTES ===========================================================================*/

	#partes_index {

		max-width: 1080px;

	}

	#partes_index a, button {

		opacity: 1;

	}

	#partes_index, td:hover {

		opacity: 1;

	}

	.comment-panel {						/* estilo de las lecturas */

		min-height: 340px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		color: #fff;
		background-color: 	rgba(0, 0, 0, 0.8); */
		border: 		1px solid #D8D8D8;
	}





	/* LOGIN =======================================================================================*/

	#login {




	}

	#login input-group {
		margin-right: 20px;
		margin-left: 20px;
	}

	#login-panel {


		max-width: 600px;

		margin-top: 10vh;
		margin-right: auto;
		margin-left: auto;


		padding-top: 10vh;
		padding-bottom: 10vh;

		border: 		1px solid #D8D8D8;

/*		margin-top: 20vh; */


	}



	/* INICIO ******************************************************************************************/

	#menu-inicio {

		position: relative;

	}

	#inicio {

		height: 70vh;

	}


	#inicio-panel {

		max-width: 600px;
		position: relative;
		text-align: center;


	}


	/*******************************************************************************************/



	a:active, a:focus, a:hover {
		text-decoration: none;
		color: #eb9837;
		outline: 0;
	}

	.nav #menu-inicio-item ul li a:active, a:focus, a:hover {

		text-decoration: none;
		color: #eb9837;
		outline: 0;

	}






	/* RESUMEN CONSUMOS ===========================================================  */


	#head_consumos h4 {


		display: inline-block;


	}

	#head_consumos img {

		margin-bottom: 6px;
		margin-left: 0px;

	}

	#leyenda {

		width: auto;
		max-width: 1100px;

		margin-left: auto;
		margin: auto;

		font-size: 12px;

		border: 1px solid #D8D8D8;

	}



	.dato_consumo {					/* estilo del dato que se muestra en el informe */


		text-align: right;


	}

	.dato_consumo img {

		width: 12px;
		margin-bottom: 4px;


	}

	#tabla_resumen {

		padding-right: 15px;
		padding-left: 15px;


	}



	.info_desvio {				/* estilo del comentario desplegable en el informe de consumos  */


		margin-right: -10vw;


		min-width:150px;
		max-width: 200px;

		color: black;
		text-align: center;

		border: 1px solid #D8D8D8;
	}








	/* ========= FORMULARIO CONTADOR y PARTE ===================== */

	#contador_form, #parte_form {

		max-width: 600px;
		padding: 20px 20px 20px 20px;

		border: 1px solid #D8D8D8;


	}




	/*  CONTADORES ================================================================= */

	#contadores-panel tr th, #contadores-panel tr td {

		text-align: center;

	}


	#criterios {

		margin-bottom: 20px;
		padding: 20px;
		color: #fff;
		background-color: 	rgba(0, 0, 0, 0.8);
		border: 		1px solid #D8D8D8;
	}

	#criterio_form {

		max-width: 500px;
		margin-bottom: 20px;
		padding: 20px;


		border: 1px solid #D8D8D8;
	}




	/* =============================================================== */




	#agregar-comentario {

		margin-top: 10px;
		position: relative;


	}


	#comentario {



	}

	.faq {


	}

	.faq a:hover {
		color: #eb9837;

	}

	.faq a:active, .faq a:focus {
		color: #eb9837;
		text-decoration: none;
		outline: none;
	}

	#resumen_index, #mes_index {				/* formulario para elejir mes para el informe de consumos  */

		max-width: 600px;
		margin-top: 10vh;

		border: 1px solid #ccc;

	}








	.form-group {

		margin-bottom: 10px;

	}
