
    <div class="container">
        <h4>Añadir criterio:</h4>
        <form method="post" action="/contadores/<%=contadorid%>/criterios/create" >

            <input type="num" class="form-control" id="mes" name="criterio[mes]"/>
            <input type="num" class="form-control" id="mes" name="criterio[max]"/>
            <input type="num" class="form-control" id="mes" name="criterio[min]"/>
            <p><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enviar</button></p>

        </form>
    </div>
