
    <div class="container">
        <h4>Añadir criterio:</h4>

        <div class="container">

            <form method="post" action="/contadores/<%=contadorid%>/criterios/create" >

                Mes:
                <input type="text" class="form-control" id="mes" name="criterio[mes]"/>
                Límite máximo:
                <input type="text" class="form-control" id="mes" name="criterio[max]"/>
                Límite mínimo:
                <input type="text" class="form-control" id="mes" name="criterio[min]"/>

                <p><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enviar</button></p>

            </form>

        </div>

    </div>
